@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .custom-scroll::-webkit-scrollbar{
        background-color: rgb(243, 243, 243);
        width: 5px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgb(154, 174, 182);
    }
}